
		    /*HKGrotesk-BoldItalic*/
		    @font-face {
			font-family: 'HKGrotesk-BoldItalic';
			src: url('HKGrotesk-BoldItalic/HKGrotesk-BoldItalic.eot'); /* IE 9 Compatibility Mode */
			src: url('HKGrotesk-BoldItalic/HKGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
			     url('HKGrotesk-BoldItalic/HKGrotesk-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
			     url('HKGrotesk-BoldItalic/HKGrotesk-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			     url('HKGrotesk-BoldItalic/HKGrotesk-BoldItalic.svg#HKGrotesk-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
			}
			
			
			
			

		    /*HKGrotesk-Bold*/
		    @font-face {
			font-family: 'HKGrotesk-Bold';
			src: url('HKGrotesk-Bold/HKGrotesk-Bold.eot'); /* IE 9 Compatibility Mode */
			src: url('HKGrotesk-Bold/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
			     url('HKGrotesk-Bold/HKGrotesk-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
			     url('HKGrotesk-Bold/HKGrotesk-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
			     url('HKGrotesk-Bold/HKGrotesk-Bold.svg#HKGrotesk-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
			}
			
			
			
			

		    /*HKGrotesk-Italic*/
		    @font-face {
			font-family: 'HKGrotesk-Italic';
			src: url('HKGrotesk-Italic/HKGrotesk-Italic.eot'); /* IE 9 Compatibility Mode */
			src: url('HKGrotesk-Italic/HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
			     url('HKGrotesk-Italic/HKGrotesk-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
			     url('HKGrotesk-Italic/HKGrotesk-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
			     url('HKGrotesk-Italic/HKGrotesk-Italic.svg#HKGrotesk-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
			}
			
			
			
			

		    /*HKGrotesk-LightItalic*/
		    @font-face {
			font-family: 'HKGrotesk-LightItalic';
			src: url('HKGrotesk-LightItalic/HKGrotesk-LightItalic.eot'); /* IE 9 Compatibility Mode */
			src: url('HKGrotesk-LightItalic/HKGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
			     url('HKGrotesk-LightItalic/HKGrotesk-LightItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
			     url('HKGrotesk-LightItalic/HKGrotesk-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			     url('HKGrotesk-LightItalic/HKGrotesk-LightItalic.svg#HKGrotesk-LightItalic') format('svg'); /* Chrome < 4, Legacy iOS */
			}
			
			
			
			

		    /*HKGrotesk-Light*/
		    @font-face {
			font-family: 'HKGrotesk-Light';
			src: url('HKGrotesk-Light/HKGrotesk-Light.eot'); /* IE 9 Compatibility Mode */
			src: url('HKGrotesk-Light/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
			     url('HKGrotesk-Light/HKGrotesk-Light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
			     url('HKGrotesk-Light/HKGrotesk-Light.ttf') format('truetype'), /* Safari, Android, iOS */
			     url('HKGrotesk-Light/HKGrotesk-Light.svg#HKGrotesk-Light') format('svg'); /* Chrome < 4, Legacy iOS */
			}
			
			
			
			

		    /*HKGrotesk-MediumItalic*/
		    @font-face {
			font-family: 'HKGrotesk-MediumItalic';
			src: url('HKGrotesk-MediumItalic/HKGrotesk-MediumItalic.eot'); /* IE 9 Compatibility Mode */
			src: url('HKGrotesk-MediumItalic/HKGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
			     url('HKGrotesk-MediumItalic/HKGrotesk-MediumItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
			     url('HKGrotesk-MediumItalic/HKGrotesk-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			     url('HKGrotesk-MediumItalic/HKGrotesk-MediumItalic.svg#HKGrotesk-MediumItalic') format('svg'); /* Chrome < 4, Legacy iOS */
			}
			
			
			
			

		    /*HKGrotesk-Medium*/
		    @font-face {
			font-family: 'HKGrotesk-Medium';
			src: url('HKGrotesk-Medium/HKGrotesk-Medium.eot'); /* IE 9 Compatibility Mode */
			src: url('HKGrotesk-Medium/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
			     url('HKGrotesk-Medium/HKGrotesk-Medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
			     url('HKGrotesk-Medium/HKGrotesk-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
			     url('HKGrotesk-Medium/HKGrotesk-Medium.svg#HKGrotesk-Medium') format('svg'); /* Chrome < 4, Legacy iOS */
			}
			
			
			
			

		    /*HKGrotesk-Regular*/
		    @font-face {
			font-family: 'HKGrotesk-Regular';
			src: url('HKGrotesk-Regular/HKGrotesk-Regular.eot'); /* IE 9 Compatibility Mode */
			src: url('HKGrotesk-Regular/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
			     url('HKGrotesk-Regular/HKGrotesk-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
			     url('HKGrotesk-Regular/HKGrotesk-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
			     url('HKGrotesk-Regular/HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
			}
			
			
			
			
